websockets>=11.0
pyserial>=3.5
requests>=2.25.1
adafruit-ampy>=1.0.7
rshell>=0.0.28
esptool>=4.0
mpremote
mpflash
mpy_cross
code2flow
micropython-rp2-rpi_pico_w-stubs  --target typings --no-user
micropython-rp2-rpi_pico2-stubs
micropython-esp32-stubs==1.25.0.*
micropython-stm32-stubs





 

 